<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <%= user.errors.include?(:indentificationNumber) %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>

        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

<div class="mb-3">
    
    <label class="form-label">Document Id Letter</label>
    <%= select_tag("user[person_type_id]", options_from_collection_for_select(PersonType.all, :id, :letter), 
    include_blank: "Select Id letter",  class: "form-select")%>
  </div>

  <div class="mb-3">
    <%= form.label :indentificationNumber, class: "form-label" %>
    <%= form.text_field :indentificationNumber, class: "form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :startDate, class: "form-label" %>
    <%= form.date_field :startDate,class: "form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :endDate, class: "form-label" %>
    <%= form.date_field :endDate , class: "form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :name, id: "name-label" , class: "form-label"%>
    <%= form.text_field :name , class: "form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %>
    <%= form.text_field :email , class: "form-control"%>
  </div>

  <div class="mb-3">
    <%= form.label :mainNumber, class: "form-label" %>
    <%= form.text_field :mainNumber ,class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :optNumber, class: "form-label" %>
    <%= form.text_field :optNumber, class: "form-control" %>
  </div>

  

  <div>
    <%= form.submit  class: "btn btn-outline-success" %>
  </div>
<% end %>

<script>
  let select = document.querySelector("#user_person_type_id")
  let name = document.querySelector("#name-label")
  let letter = ''
  let enterpriseLetters = ["J", "G"]
  select.addEventListener("change", (event) => {
    let index = event.target.selectedIndex
    letter = (event.target.options[index].text)

    if (enterpriseLetters.includes(letter)) {
      name.innerHTML = "Enterprise Name"
    } else {
      name.innerHTML = "Name"
    }
  })

</script>