<div id="<%= dom_id user %>">
  <p>
    <strong>Indentificationnumber:</strong>
    <%= user.indentificationNumber %>
  </p>

  <p>
    <strong>Startdate:</strong>
    <%= user.startDate %>
  </p>

  <p>
    <strong>Enddate:</strong>
    <%= user.endDate %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= user.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= user.email %>
  </p>

  <p>
    <strong>Mainnumber:</strong>
    <%= user.mainNumber %>
  </p>

  <p>
    <strong>Optnumber:</strong>
    <%= user.optNumber %>
  </p>

  <p>
    <strong>Person type:</strong>
    <%= user.person_type_id %>
  </p>

</div>
